@page "{id:int}"
@model DeLaSalle.Eccommerce.WebSite.Pages.ProductCategory.Delete

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-10">
            <h2>Delete Product Category</h2>
            
            <form method="post">
                
                <input type="hidden" asp-for="ProductCategory.Id" />
                
                <div class="form-group">
                    <label asp-for="ProductCategory.Name"></label>
                    <input readonly asp-for="ProductCategory.Name" class="form-control" maxlength="45"/>

                </div>
                
                <div class="form-group">
                    <label asp-for="ProductCategory.Description"></label>
                    <input readonly asp-for="ProductCategory.Description" class="form-control" maxlength="100"/>
                </div>

                <div class="alert alert-danger" role="alert">
                   <ul>
                       <li>An error</li>
                   </ul>    
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-danger mr-3">Delete</button> 
                        <a class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                
            </form>
            
        </div>
        
        <div class="col-md-1"></div>
    </div>
    
</div>